* {
  padding: 0px;
  margin: 0px;
}
body {
  .header {
    min-height: 100vh;
    width: 100vw;
    background: url(/images/hero-img-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .section-1 {
      height: 20vh;
      width: 100vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .img-01 {
        width: 10em;
        height: 10vh;
        border-radius: 50%;
      }
      .ul-list {
        display: flex;
        list-style: none;
        cursor: pointer;
        font-size: 20px;
        display: flex;
        color: white;
        .list-item {
          margin-right: 30px;
          padding: 10px;
          background-color: rgba(3, 6, 6, 0.4);
          .header-list {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
  .section-2 {
    text-align: center;
    /* display: flex; */
    min-height: 90vh;
    width: 100vw;
    background-image: linear-gradient(rgba(244, 218, 112, 0.9), rgba(204, 218, 118, 0.8)),
      url(/images/background-img-1.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    .sec-2-h2 {
      text-align: center;
      font-size: 30px;
      padding-top: 40px;
    }
    .eksath {
      display: flex;
      flex-wrap: wrap;
      .aboutus {
        .about-h1 {
          font-size: 32px;
          text-align: center;
          padding: 20px;
        }
        .about-p {
          font-size: 18px;
          color: black;
          text-align: justify;
        }
        width: 40%;
        padding: 5%;
      }
      .about-img {
        width: 40%;
        padding: 5%;

        .grid-img {
          .img-grid-items {
            width: 250px;
            height: 200px;
          }
        }
      }
    }
  }
  /* .back {
    position: absolute;
    right: 10px;
    bottom: 20px;
    border: 1px solid black;
    background-color: darkgrey;
    border-radius: 50%;
    padding: 20px;
    font-size: 30px;
  } */
  .section-3 {
    width: 100vw;
    min-height: 90vh !important;
    background: linear-gradient(rgba(244, 218, 112, 0.9), rgba(204, 218, 118, 0.8)), url(/images/background-img-1.jpg);
    text-align: center;
    margin: 0px;
    .drag-menu {
      margin: auto;
      position: relative;
      top: 100px;
      width: 70vw;
      background-color: white;
      min-height: 60vh;
      .menu-h2 {
        font-size: 30px;
        padding: 5%;
      }
      .menu-item {
        display: flex;
        flex-wrap: wrap;
        min-height: auto;
        justify-content: space-evenly;
        .a-menu {
          color: white;
          text-decoration: none;
          .img-menu {
            cursor: pointer;
            /* background-image: url(/images/cake-1.jpg); */
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px;
            width: 200px;
            .square {
              display: none;
              height: 150px;
              width: 150px;
              border: 1px solid white;
              position: relative;

              top: 12%;
              left: 12%;
              .menu-h2-01 {
                padding-top: 40%;
                font-size: 22px;
              }
            }
          }
        }
      }
    }
  }
  #hover-menu-img:hover {
    background-image: linear-gradient(rgba(244, 218, 112, 0.9), rgba(244, 218, 118, 0.8)), url(/images/cake-1.jpg);
    .square {
      display: block;
    }
  }
  .section-4 {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(rgba(253, 76, 53, 0.9), rgba(242, 67, 36, 0.8)), url(/images/hero-img.jpg);
    .contact-us {
      height: 40vh;
      width: 400px;
      background-color: white;
      display: block;
      position: relative;
      left: 20vw;
      top: 15vh;
      .contact-h2 {
        padding: 10%;
        padding-bottom: 7%;
        font-size: 30px;
      }
      .contact-p {
        padding-left: 10%;
        padding-bottom: 2%;
        font-size: 22px;
      }
    }
  }
}

/* //------------------CAKES---------------- */

.cake-header {
  .section-cake {
    width: 70vw;
    height: 70vmin;
    margin: 4vh auto;
    background-color: rgba(241, 240, 240, 0.7);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    .cake-img {
      width: 200px;
      height: 200px;
      /* gap: 20px; */
      margin: 10px;
    }
  }
}

@media all and (width<=580px) {
  #img-01 {
    width: 6em;
    height: 8vh;
  }

  #list-item {
    margin-right: 8px;
    padding: 5px;
  }
  #header-list-a {
    font-size: 12px;
  }
  #eksath {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  #grid-img {
    padding-bottom: 10vh;
  }
  #img-grid-items {
    width: 40vw;
    height: 30vh;
    padding-top: 10vh;
  }
  #about-img {
    padding-top: 10%;
  }
  #section-3 {
    min-height: 100vh !important;
  }
  #drag-menu {
    top: 30px;
  }
  #contact-us {
    height: 40vh;
    width: 300px;
    background-color: white;
    display: block;
    position: relative;
    left: 10vw;
    top: 8vh;
  }
  #contact-h2 {
    padding: 20%;
    padding-bottom: 7%;
    font-size: 20px;
  }
  #contact-p {
    padding-left: 5%;
    padding-bottom: 2%;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media all and (width<=350px) {
  #img-01 {
    width: 4em;
    height: 6vh;
  }

  #list-item {
    margin-right: 8px;
    padding: 5px;
  }
  #header-list-a {
    font-size: 8px;
  }
  #contact-us {
    height: 40vh;
    width: 200px;
    background-color: white;
    display: block;
    position: relative;
    left: 8vw;
    top: 6vh;
  }
  #contact-h2 {
    padding: 20%;
    padding-bottom: 7%;
    font-size: 18px;
  }
  #contact-p {
    padding-left: 2%;
    padding-bottom: 2%;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
  }
}
